
<div class="row">
	<div class="span4">

		<%= image_tag("cat.jpeg", :alt => "cats typing") %>

	</div>
	<div class="span8">
		<h1 class="new-log">Say something purrrfect.</h1>

		<%= render 'form' %>

		<%= link_to 'Back', statuses_path %>
	</div>
</div>